@media( min-width: 1000px ){

    main.site-main {
        margin: 27px auto;
        max-width: 1200px;

        &:after, &:before {
            background-attachment: fixed;
            background-image: url(../../img/decor.svg);
            background-size: 100%;
            background-repeat: no-repeat;
            content: "";
            height: 100px;
            width: 100px;
            position: fixed;
            top: 120px;         
        }

        &:after {
            right: 8%;
            transform: scaleX(-1);            
        }

        &:before {
            left: 8%;
            transform: scale(1);
        }

    }
}