.widget-area svg {
    display: none;
}

@supports( display: grid ){
    @media( min-width: 1200px ){
        .widget-area svg {
            display: block;
            max-height: 200px;
            position: absolute;
            top: 0;
        }

        .widget-area:first-of-type svg {
            right: 0;
        }

        .widget-area:last-of-type svg {
            left: 0;
            transform: scaleX(-1);
        }
    }
}