@media( min-width: 850px ){

    main.site-main {
        margin: 100px auto;
        max-width: 1200px;

        &:after, &:before {
            background-attachment: fixed;
            background-image: url(../../img/decor.svg);
            background-size: 100%;
            background-repeat: no-repeat;
            content: "";
            height: 100px;
            width: 100px;
            position: fixed;
            top: 100px;         
        }

        &:after {
            right: 10%;
            -moz-transform: scaleX(-1);
            -o-transform: scaleX(-1);
            -webkit-transform: scaleX(-1);
            transform: scaleX(-1);
            
        }

        &:before {
            left: 10%;
            transform: scale(1);
        }

    }
}