body {
    background:$earth;
}

* {
	box-sizing: border-box;
}

img {
	height: auto;
	max-width: 100%;	
}
.alignleft {
	display: inline;
	float: left;
	margin: 1.5em;
}

.alignright {
	display: inline;
	float: right;
	margin: 1.5em;
}

.aligncenter {
	clear: both;
    display: block;
	margin-left: auto;
    margin-right: auto;
}

.centered-text {
	text-align: center;
}

