
.entry-title {
    a {
        border-bottom: 0;
    }    
}

article.post {
    margin-bottom: 2em;
}

.meta-container{
    border-bottom: 1px dotted $color1;
    font-family: VT323;
    font-style: italic;

    span.meta-item {
        display: block;
        min-width: 33%;
        text-align: center;
        text-transform: uppercase;

        a {
            text-decoration: underline;
        }
    }
}
