header.site-header {
    background: #dedede;
    display: flex;
    flex-direction: row;
    font-size: 75%;
    padding: 1em;
    position: sticky;
    top: 0;
    text-transform: uppercase;    
    z-index: 2;
}

header.site-header .site-title {
    margin: 0;
    padding: 0;
}

.main-navigation {
    flex-grow: 2;
}

.main-navigation-menu {
    display: flex;
    margin: 0;
    padding: 0;
}

.main-navigation-menu li {
    display: inline-block;
    list-style: none;   
    margin: .5em 2em;
}