body.home {
    
    .content-area, .widget-area, .site-main {
        display: flex;
    }

    .site-main {
        width: 75%;            
    }
    .home-widget-area {        
        padding: 0 1em;
        position: sticky;
        top: 1em;
        width: 30%;
    }
    
    article {
        flex-wrap: wrap;
        margin-bottom: 16px;
        padding: 1em;  
        width: 33%;
    }

    article .entry-title {
        line-height: 1.2;
    }
    article .entry-title a {
        border-bottom: 0;
        color: $color1;

        &:hover {
            color: $color2;   
        }

    }

    article:nth-of-type(odd){
        font-size: 65%;
    }

    article:nth-of-type(even){
        font-family: 'Slabo 27px', Georgia, 'Times New Roman', Times, serif;
        font-size: 75%;

    }

    article:nth-of-type(5){
        font-size: 60 + random( 19 ) + %;
    }

    article:nth-of-type(4){
        font-size: 60 + random( 19 ) + %;
    }

    article:nth-of-type(3){
        font-size: 60 + random( 9 ) + %; 
    }

    article:nth-of-type(2){
        font-size: 60 + random( 9 ) + %;
    }

    article:first-of-type {
        font-size: 110%;
        font-family: inherit;
    }

}