a, a:visited, a:active {
    border-bottom: 1px solid $link-underline;
    color: $color4;
    text-decoration: none;
}

a:hover {
    border-bottom: 1px solid transparent;
    color: $color4;
    text-decoration: underline;
}

a:focus {
    border-bottom: 1px solid transparent;
    outline: $color1 thin dotted;
}
