header.site-header div.main-menu {
    background: rgba( 1,1,1,.93);
    left: -900vw;
    min-height: 100vh;
    position: fixed;
    top:0;
    transition: all 0.5s ease-in-out;
    width: 100vw;
    z-index: 2;

    &.open {
        left: 0;
    }

    ul {
        display: block;      
        margin: 2em auto;
        width: 50%;
        li {
            list-style: none;
        }
        li a {
            color: white;
        }

        @media( max-width: 900px ){            

            li {
                margin: 1em auto;
            }

            width: 100%;
        }

    }

}