
.calendar-app {
    background-color: $color1;
    color: whitesmoke;
    display: block;
}

.calendar-title {
    text-align: center;
    width: 100%;
}

.calendar-main {    
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;    
    grid-template-rows: 3em 3em 3em 3em 3em;
}

.calendar-main .day {
    border: 1px solid $earth;
    display: flex;
}

.calendar-main .day.blank {
    background: $color4;
} 