html {
    font-size: 20px;
}

body {
    color: $color4;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";   
}

.body {
    font-size: 1em;
}

h1.site-title, .site-title {
    font-family: 'VT323';
}

h1,h2,h3,h4,h5,h6 {
    font-family: Menlo,Monaco,Lucida Console,Liberation Mono,DejaVu Sans Mono,Bitstream Vera Sans Mono,Courier New,monospace,serif;
}

h1, .h1 {
    font-size: 2em;
}

h2, .h2 {
    font-size: 1.75em;
}

h3, .h3 {
    font-size: 1.5em;
}

h4, .h4 {
    font-size: 1.25em;
}
.site-header {
    font-family: 'VT323', -apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
}