header.site-header {
    background:$earth;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 1em;
    position: sticky;
    top: 0;
    text-transform: uppercase;    
    z-index: 2;

    &.darker {
        background: darken( $earth, 10% );
    }

    @media( max-width: 600px ){
       justify-content: flex-start;
    }

}

header.site-header .site-title {
    font-size: 3em;
    margin: 0;
    padding: 0;
    text-align: center;

    @media( max-width: 600px ){
        font-size: 1.5em;
    }

}

header.site-header .site-title a {
    border-bottom: 0;
    color: $color3;
}

.main-navigation {
    flex-grow: 2;
}

.main-navigation-menu {
    display: flex;
    margin: 0;
    padding: 0;
}

.main-navigation-menu li {
    display: inline-block;
    list-style: none;   
    margin: .5em 2em;
}


