header.site-header div.main {
  background: rgba(1, 1, 1, 0.93);
  left: -900vw;
  min-height: 100vh;
  position: fixed;
  top: 0;
  transition: all 0.5s ease-in-out;
  width: 100vw;
  z-index: 2;

  &.open {
    left: 0;
  }

  @media (min-width: 900px) {
    .main-menu:first-child {
      display: none;
    }
  }

  ul {
    display: block;
    margin: 2em auto;
    width: 50%;
  }
  ul li {
    list-style: none;
  }
  ul li a {
    color: white;
  }

  @media (max-width: 900px) {
    ul li {
      margin: 1em auto;
    }
  }
}

header.site-header + .main-menu {
  margin: auto;
  /*max-width: $breakpoint;*/

  ul {
    margin: 0;
    padding: 0;

    @media (min-width: 900px) {
      display: flex;
    }

    display: none;
    font-family: "VT323";
    justify-content: space-evenly;
    list-style: none;
    text-transform: uppercase;
    width: 100%;
  }
}

@media (min-width: 900px) {
  .main-menu.h3 {
    background-color: lightgrey;
    border: 1px solid darkgray;
    padding: 0.5em;
  }

  .main-menu.h3 li {
    box-shadow: 4px 4px 2px black;
    border: 1px solid gray;
    padding: 0 1em;
  }

  .main-menu.h3 li:hover {
    box-shadow: 2px 2px 2px black;
  }

  .main-menu.h3 li a:hover {
    text-decoration: none;
  }
}
